*{
    margin: 0;
    padding: 0;
}
body, html{
    color: #222;
    font: 16px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}
a{
    text-decoration: none;
    color: #105cb6;
}
.error-view{
    overflow: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    overflow: hidden;
    background: #eff2f5;
}
.error{
    margin: 169px auto 0;
    width: 404px;
}
.error hr{
    margin: 1.3em 0;
}
.error .header{
    overflow: hidden;
    font-size: 1.8em;
    line-height: 1.2;
    margin: 0 0 .33em .33em;
}
.error .content{
    padding: 2em 1.25em;
    border: 1px solid #babbbc;
    border-radius: 5px;
    background: #f7f7f7;
    text-align: center;
}
.error p{
    margin: 0 0 1.7em;
    color: #999;
}
.error strong{
    font-size: 18px;
    color: #000;
}